<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cups of Cake</title>
</head>
<body>

  <h1>Welcome to Cupcakes</h1>

  <form method="POST" action="/api/cupcakes/">
    Flavor: <input type="text" name="flavor" placeholder="chocolate"><br>
    Size: <input type="text" name="size" placeholder="chocolate"><br>
    Rating: <input type="number" name="rating" placeholder="chocolate"><br>
    Image URL: <input type="url" name="image_url" placeholder="chocolate"><br>
    <button type="submit">Add cupcake</button>

  </form>

  <ul id="cupcake-list">
  </ul>


</body>
</html>